# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Documentation
*.md
!README.md

# Data
data/
*.pdf
*.csv
*.txt
*.md

# Logs
*.log
logs/

# Docker
Dockerfile
docker-compose.yml
.dockerignore 